name: layout_breakpoint
description: A new Flutter package project.
version: 0.0.1
homepage:

environment:
  sdk: ^3.10.4
  flutter: ^3.38.5

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
